@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
html {
  scroll-behavior: smooth;
}

@media (max-width: 450px) {
  #name {
    font-size: medium;
  }
  #title {
    font-size: large;
  }
}
@media (max-width: 240px) {
  #name {
    font-size: small;
  }
  #title {
    font-size: medium;
  }
}
